.c-blog-post {
  position: relative;

  @include breakpoint(52rem) {

    & > p > img {
      height: 75vh;
      object-fit: cover;
    }
  }

  @include breakpoint(92rem) {

    & > p > img {
      height: 65vh;
    }
  }

  &__headline {
    padding: $spacing-sm $spacing-md $spacing-md $spacing-md;
    margin: $spacing-md 0 0;
    background-color: $white;

    @include breakpoint(45rem) {
      padding: $spacing-sm $spacing-lg $spacing-md $spacing-lg;
    }

    @include breakpoint(52rem) {
      margin: $spacing-xl 0 0;
    }
  }

  &__content {
    padding: 0 $spacing-md;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(52rem) {
      padding: 0 $spacing-lg;
      width: 85%;
    }

    @include breakpoint(64rem) {
      width: 65%;
    }

    @include breakpoint(92rem) {
      width: 50%;
    }
  }
}
