.c-blog-post {
  position: relative;

  @include breakpoint(92rem) {

    & > p > img {
      height: 65vh;
    }
  }

  &__headline {
    padding: $spacing-sm $spacing-md $spacing-md $spacing-md;
    margin: $spacing-md -#{$spacing-md} 0 -#{$spacing-md};
    background-color: $white;

    @include breakpoint(45rem) {
      padding-right: $spacing-lg;
      padding-left: $spacing-lg;
    }

    @include breakpoint(52rem) {
      margin: $spacing-xl -#{$spacing-lg} 0 -#{$spacing-lg};
    }

    @include breakpoint(100rem) {
      padding: $spacing-xl $spacing-jumbo $spacing-xl $spacing-jumbo;
      margin: $spacing-xl -#{$spacing-jumbo} 0 -#{$spacing-jumbo};
    }
  }

  &__content {
    padding: 0 $spacing-md;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(52rem) {
      padding: 0 $spacing-lg;
      width: 85%;
    }

    @include breakpoint(64rem) {
      width: 65%;
    }

    @include breakpoint(100rem) {
      width: 50%;
    }

    & > p > img {
      margin: 0 -#{$spacing-md};
      width: calc(100% + #{$spacing-md} + #{$spacing-md});

      @include breakpoint(52rem) {
        height: 65vh;
        object-fit: cover;
        margin-left: -#{$spacing-lg};
        width: calc(100% + #{$spacing-lg} + #{$spacing-lg})
      }

      @include breakpoint(100rem) {
        margin-left: -#{$spacing-jumbo};
        width: calc(100% + #{$spacing-jumbo} + #{$spacing-jumbo})
      }
    }
  }
}
