$signup-animation-speed: .25s;

.c-button {
  display: block;
  text-decoration: none;
  padding: $spacing-base $spacing-md;
  background-color: $primary;
  color: $white;
  text-align: left;
  width: 100%;

  &:not(:first-child) {
    margin-top: $spacing-xxs;
  }

  @include breakpoint(32rem) {
    padding: $spacing-md $spacing-lg;

    &:not(:first-child) {
      margin-top: $spacing-xs;
    }
  }

  @include breakpoint(45rem) {
    display: inline-block;
    width: auto;
    margin-top: 0;

    &:not(:first-child) {
      margin-left: $spacing-xxs;
    }
  }

  &:hover {
    background-color: $primary-dark;
    cursor: pointer;

    & .c-button__flag--right {

      @include breakpoint(32rem) {
        padding-left: $spacing-xxl;
      }
    }
  }

  &__flag {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    &--body {
      @include font-3;
    }

    &--right {
      display: flex;
      align-items: center;
      padding-left: $spacing-md;
      transition: all $signup-animation-speed ease-in-out;

      @include breakpoint(32rem) {
        padding-left: $spacing-lg;
      }
    }
  }
}
