.c-event-list {
  margin: 0;
  padding: 0;

  &__flag {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    @include breakpoint(45rem) {
      flex-flow: row nowrap;
    }

    & + * {
      margin-top: $spacing-lg;
    }

    &--left {
      position: relative;

      @include breakpoint(45rem) {
        display: flex;
        flex: 1 1 0;
      }

      @include breakpoint(68rem) {
        flex: 1 1 0;
      }
    }

    &--body {
      display: flex;
      background-color: $white;
      position: relative;

      @include breakpoint(45rem) {
        flex: 1.5 1 0;
      }

      @include breakpoint(68rem) {
        flex: 2 1 0;
      }
    }
  }

  &__calendar {
    position: absolute;
    top: 0;
    left: 0;
    padding: $spacing-sm $spacing-md;
    background-color: $white;
    z-index: 1;

    @include breakpoint(32rem) {
      padding: $spacing-sm $spacing-lg;
    }
  }

  &__day, &__date {
    display: block;
  }

  &__day {
    color: $secondary;
  }

  &__image {
    display: block;
    transition: all $animation-speed ease-in-out;
    object-fit: cover;
    height: 50vw;

    @include breakpoint(45rem) {
      flex: 1 0 0;
      height: 100%;
    }
  }

  &__content {
    flex-grow: 1;
    padding: $spacing-md;

    @include breakpoint(32rem) {
      padding: $spacing-lg;
    }
  }

  &__title {
    margin-bottom: $spacing-sm;
  }

  &__button {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
