.c-event-list {
  margin: 0;
  padding: 0;

  &__link {
    display: block;
    text-decoration: none;

    & + * {
      margin-top: $spacing-lg;
    }

    &:hover {

      & .c-event-list__image {
        transform: rotate(-4deg) scale(1.125);
        opacity: .75;
      }

      & .c-event-list__title {
        color: $primary;
      }
    }
  }

  &__flag {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    @include breakpoint(45rem) {
      flex-flow: row nowrap;
    }

    &--left {
      flex: 3 1 0;
      position: relative;

      @include breakpoint(45rem) {
        display: flex;
      }

      @include breakpoint(68rem) {
        flex: 1 1 0;
      }
    }

    &--body {
      flex: 4 1 0;
      background-color: $white;

      @include breakpoint(68rem) {
        flex: 2 1 0;
      }
    }
  }

  &__calendar {
    position: absolute;
    top: 0;
    left: 0;
    padding: $spacing-sm $spacing-lg;
    background-color: $white;
    z-index: 1;
  }

  &__day, &__date {
    display: block;
  }

  &__day {
    color: $secondary;
  }

  &__image {
    display: block;
    transition: all $animation-speed ease-in-out;
    object-fit: cover;
    height: 50vw;

    @include breakpoint(45rem) {
      flex: 1 0 0;
      height: 100%;
    }
  }

  &__content {
    padding: $spacing-md;

    @include breakpoint(32rem) {
      padding: $spacing-lg;
    }
  }

  &__title {
    margin-bottom: $spacing-sm;
  }
}
