// Global namespace for header component
$header-namespace: "c-header" !default;

.#{$header-namespace} {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: $spacing-md;
	padding-bottom: $spacing-md;
	background-color: rgba(255,255,255,.96);
	width: 100%;
	z-index: 3;

	@include breakpoint(45rem) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: fixed;
	}

	&__title {
		text-decoration: none;
	}
}
