.c-post-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: 0;

  &__item:nth-child(odd) {
    grid-column: 1 / span 6;

    @include breakpoint(52rem) {
      grid-column: 1 / span 3;
    }
  }

  &__item:nth-child(even) {
    grid-column: 1 / span 6;

    @include breakpoint(52rem) {
      grid-column: 4 / span 3;
    }
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: $spacing-xl;
  }

  &__meta {
    color: $gray-light;
    margin-top: $spacing-xs;
  }

  &__link {
    display: inline-block;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    margin-bottom: $spacing-md;
    text-decoration: none;

    @include breakpoint(32rem) {
      padding-left: $spacing-lg;
      padding-right: $spacing-lg;
    }

    &:hover {
      color: $primary;
    }
  }

  &__image {
    max-height: 20rem;
    object-fit: cover;
    display: block;

    @include breakpoint(52rem) {
      max-height: 24rem;
    }

    @include breakpoint(92rem) {
      max-height: 36rem;
    }
  }
}
