.c-post-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: $spacing-xs 0 0 0;

  &__item:nth-child(odd) {
    grid-column: 1 / span 6;

    @include breakpoint(52rem) {
      grid-column: 1 / span 3;
    }
  }

  &__item:nth-child(even) {
    grid-column: 1 / span 6;

    @include breakpoint(52rem) {
      grid-column: 4 / span 3;
    }
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    margin-bottom: $spacing-xl;
  }

  &__link {
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    justify-content: space-between;

    &:hover {
      color: $primary;

      & .c-post-list__image {
        transform: rotate(-4deg) scale(1.125);
        opacity: .75;
      }
    }
  }

  &__title {
    margin-bottom: $spacing-md;
    padding-left: $spacing-md;
    padding-right: $spacing-md;

    @include breakpoint(32rem) {
      padding-left: $spacing-lg;
      padding-right: $spacing-lg;
    }
  }

  &__meta {
    @include font-4;
    color: $gray-medium;
    margin-top: $spacing-xs;
  }

  &__image-container {
    max-height: 20rem;
    object-fit: cover;
    display: block;
    overflow: hidden;

    @include breakpoint(52rem) {
      max-height: 24rem;
    }

    @include breakpoint(92rem) {
      max-height: 36rem;
    }
  }

  &__image {
    display: block;
    transition: all $animation-speed ease-in-out;
  }
}
