.c-program {

  &__headline {
    padding: 0 $spacing-md;
    margin-top: $spacing-lg;

    @include breakpoint(32rem) {
      padding: 0 $spacing-lg;
      margin-top: $spacing-xxl;
    }
  }

  &__description {
    padding: 0 $spacing-md;
    margin-top: $spacing-xs;

    @include breakpoint(32rem) {
      padding: 0 $spacing-lg;
      margin-top: $spacing-base;
    }
  }

  &__links {
    margin-top: $spacing-lg;

    @include breakpoint(32rem) {
      margin-top: $spacing-xxl;
    }
  }

  &__media {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint(45rem) {
      flex-flow: row nowrap;
    }

    &-two {
      flex: 1;
      overflow: hidden;

      @include breakpoint(45rem) {
        flex: 2;
      }

      &-child {
        object-fit: cover;

        @include breakpoint(32rem) {
          height: 65vh;
          max-height: 40rem;
        }

        @include breakpoint(45rem) {
          height: 80vh;
        }
      }
    }

    &-one {
      display: flex;
      flex-flow: column nowrap;
      flex: 1;
      overflow: hidden;

      @include breakpoint(32rem) {
        flex-flow: row nowrap;
      }

      @include breakpoint(45rem) {
        flex-flow: column nowrap;
      }

      &-child {
        object-fit: cover;

        @include breakpoint(32rem) {
          height: 32.5vh;
          width: 50%;
          max-height: 20rem;
        }

        @include breakpoint(45rem) {
          width: auto;
          height: 40vh;
        }
      }
    }
  }

  @mixin program-list-card($card-background, $card-border) {
    $border-width: 2px;
    padding: $spacing-md;
    background-color: $card-background;
    border: $border-width solid $card-border;

    @include breakpoint(32rem) {
      padding: $spacing-lg;
    }
  }

  &__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    &-item {
      @include program-list-card($gray-background, $white);
      display: flex;
      flex-flow: column nowrap;

      &--alt {
        @include program-list-card($white, $gray-background);
      }
    }
  }

  &__chapter {

    &-data {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100%;
    }

    &-subtitle {
      margin-top: $spacing-xs;

      @include breakpoint(32rem) {
        margin-top: $spacing-base;
      }
    }
  }

  &__lead-list {
    @include font-3;
    color: $gray-medium;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
