.c-project {

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 33.333333%);
    height: 100vw;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    display: flex;
  }

  &__list-anchor {
    display: flex;
    position: relative;
  }

  &__image {
    object-fit: cover;
  }

  &__title-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: $white;
    padding: 2rem 0;
    width: 50%;
  }

  &__title {
    padding-left: 3rem;
  }
}

.o-grid__thirds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.o-grid-child__one-thirds {
  grid-column: 1 / span 3;

  @include breakpoint(45rem) {
    grid-column: 1 / span 2;
  }

  @include breakpoint(94rem) {
    grid-column: 1 / span 2;
  }
}
