$project-grid-2: 46rem;
$project-grid-3: 85rem;

.c-project {

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 100%);
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint($project-grid-2) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(10, 50%);
    }

    @include breakpoint($project-grid-3) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 33.333333%);
    }
  }

  &__list-item {
    display: flex;
    height: 100vw;

    @include breakpoint($project-grid-2) {
      height: 50vw;
    }

    @include breakpoint($project-grid-3) {
      height: 33.333333vw;
    }
  }

  &__list-anchor {
    display: flex;
    position: relative;
    overflow: hidden;

    &:hover {

      & .c-project__image {
        transform: rotate(-4deg) scale(1.125);
        opacity: .75;
      }

      & .c-project__title-container {
        padding-right: $spacing-lg;
      }

      & .c-project__icon {
        opacity: 1;
        right: $spacing-md;
      }
    }
  }

  &__image {
    object-fit: cover;
    transition: all .25s ease-in-out;
  }

  &__title-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $white;
    padding: $spacing-sm $spacing-md;
    z-index: 1;
    transition: padding .25s ease-in-out;
  }

  &__title {
    margin-bottom: $spacing-xxs;
  }

  &__icon {
    opacity: 0;
    position: absolute;
    right: 0;
    margin-left: $spacing-sm;
    transition: all .25s ease-in-out;
  }
}

.o-grid-six {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.o-grid-six__child {
  grid-column: 1 / span 12;

  @include breakpoint(55rem) {
    grid-column: 1 / span 6;
  }

  @include breakpoint(94rem) {
    grid-column: 1 / span 5;
  }

  @include breakpoint(117.5rem) {
    grid-column: 1 / span 4;
  }
}

.c-headline {
  padding: 0 1.5rem;
  margin-bottom: 5rem;

  @include breakpoint(32rem) {
    padding: 0 $spacing-md;
  }
}
