.o-about {

  &__hero {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint(64rem) {
      flex-flow: row nowrap;
    }
  }

  &__body {
    flex: 1;
    padding: $spacing-lg $spacing-md;

    @include breakpoint(32rem) {
      padding: $spacing-xxl $spacing-lg;
    }

    @include breakpoint(45rem) {
      padding-right: $spacing-xl;
    }

    @include breakpoint(76rem) {
      flex: 2;
    }
  }

  &__media {
    flex: 1;

    @include breakpoint(76rem) {
      flex: 3;
    }
  }

  &__hero-img {
    max-height: 60vh;
    object-fit: cover;

    @include breakpoint(64rem) {
      height: 100%;
      max-height: 100%;
    }
  }

  &__studios {
    background-color: $white;
    padding-bottom: 2px;
  }
}
