// Global namespace for wrapper object
$wrap-namespace: "o-wrap" !default;

// Global width for wrapper
$wrap-width: 100vw !default;

.#{$wrap-namespace} {
    display: block;
    max-width: $wrap-width;
    margin: 0 auto;
    padding: 0 $spacing-md;

    @include breakpoint(32rem) {
      padding: 0 $spacing-lg;
    }
}
