// Global colors
$white: #ffffff !default;
$gray-dark: #23292e !default;
$gray-medium: #5d636a !default;
$gray-light: #868c91 !default;
$gray-border: #c6c6c6 !default;
$gray-background: #eaeaea !default;
$primary: #0064ff !default;
$primary-dark: #003bc9 !default;
$secondary: #db2663 !default;
