html, :root {
	$font-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: 'PlexSans', $font-fallback;
	font-size: 1rem;
	line-height: 1.5;
	color: $gray-dark;
	box-sizing: border-box;
}

body {
	background-color: $gray-background;
}

img {
	width: 100%;
}

::selection {
	color: $white;
	background: $primary;
}
