@font-face {
  font-family: PlexSans;
  src: url(../fonts/IBMPlexSans-Text-V03.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PlexSans;
  src: url(assets/fonts/IBMPlexSans-Bold-V03.woff2);
  font-weight: bold;
  font-style: normal;
}
