// Global namespace prefix for fonts
$font-prefix: "f" !default;

.#{$font-prefix}1, h1 {
  @include font-1;
  font-weight: normal;
}

.#{$font-prefix}2, h2 {
  @include font-2;
  font-weight: normal;
}

.#{$font-prefix}3, h3 {
  @include font-3;
  font-weight: normal;
}

.#{$font-prefix}4, h4 {
  @include font-4;
}

.f-caption {
  color: $gray-light;
}

.f-bold {
  font-weight: bold;
}

p {
  @include font-3;
  color: $gray-medium;
}

p + p {
  margin-top: $spacing-md;

  @include breakpoint(100rem) {
    margin-top: $spacing-lg;
  }
}

h2 + p {
  margin-top: $spacing-base;

  @include breakpoint(52rem) {
    margin-top: $spacing-sm;
  }
}

p + h2 {
  margin-top: $spacing-md;

  @include breakpoint(52rem) {
    margin-top: $spacing-lg;
  }
}

img {
  display: block;
}
