{% include root.html %}

<div class="flex-main">
	{% include header-about.html %}
	<main class="o-main" role="main">
			<article class="o-about__hero">
				<div class="o-about__body">
					<h1 class="f1">{{ page.headline }}</h1>
					<p>{{ page.description-short }}</p>
					<p>{{ page.description-long }}</p>
				</div>
				<div class="o-about__media">
					<img class="o-about__hero-img"src="{{ p.url | prepend: site.baseurl }}{{ page.hero }}" alt="About hero image">
				</div>
			</article>
			<article class="o-about__studios">
				<div class="o-about__body">
					<h2>{{ page.studio-headline }}</h2>
					<h3>{{ page.studio-names }}</h3>
				</div>
			</article>
			{{ content }}
	</main>
</div>

<div class="flex-footer">
	{% include footer.html %}
</div>
