{% include root.html %}

<div class="flex-main">
	{% include header-about.html %}
	<main class="o-main" role="main">
			<article class="o-about__hero">
				<div class="o-about__body">
					<h1 class="f1">{{ page.headline }}</h1>
					<p>{{ page.description-short }}</p>
					<p>{{ page.description-long }}</p>
				</div>
				<div class="o-about__media">
					<img class="o-about__hero-img"src="{{ p.url | prepend: site.baseurl }}{{ page.hero }}" alt="About hero image">
				</div>
			</article>
			<article class="o-about__studios">
				<div class="o-about__body">
					<h2 class="f2">Studio Chapters</h2>
				</div>
				<ul class="o-grid-thirds c-program__list">
					{% for chapter in page.chapters %}
					<li class="o-grid-thirds__child c-program__list-item">
						<h3 class="f3 f-bold c-program__chapter">{{ chapter.name }}</h3>
						<div class="c-program__chapter-data">
							<div class="c-program__chapter-data-item">
								<h4 class="f4 f-bold c-program__chapter-subtitle">Leads</h4>
								<ul class="c-program__lead-list">
			  					{% for lead in chapter.leads %}
			    				<li class="c-program__lead-list-item">{{ lead }}</li>
			  					{% endfor %}
								</ul>
							</div>
							<div class="c-program__chapter-data-item">
								<h4 class="f4 f-bold c-program__chapter-subtitle">Slack Channel</h4>
								<ul class="c-program__lead-list">
			  					{% for channel in chapter.channels %}
			    				<li class="c-program__lead-list-item">{{ channel }}</li>
			  					{% endfor %}
								</ul>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</article>
			{{ content }}
	</main>
</div>

<div class="flex-footer">
	{% include footer.html %}
</div>
