{% include root.html %}

<div class="flex-main">
	{% include header-program.html %}
	<main class="o-main" role="main">
			<div class="o-grid-six">
				<h1 class="f1 o-grid-six__child c-program__headline">{{ page.headline }}</h1>
				<p class="f3 o-grid-six__child c-program__description">{{ page.description }}</p>
			</div>
			<div class="c-program__media">
				<div class="c-program__media-two">
					<img class="c-program__media-two-child" src="{{ page.image1 | prepend: site.baseurl }}" alt="">
				</div>
				<div class="c-program__media-one">
					<img class="c-program__media-one-child" src="{{ page.image2 | prepend: site.baseurl }}" alt="">
					<img class="c-program__media-one-child" src="{{ page.image3 | prepend: site.baseurl }}" alt="">
				</div>
			</div>
	</main>
</div>

<div class="flex-footer">
	{% include footer.html %}
</div>
