---
layout: events
title: Events
order: 0
months:
  - March
  - February
  - January
---
{% for month in page.months %}
<div class="o-grid-six">
  <h2 class="f1 o-grid-six__child c-headline">{{ month }}</h2>
</div>
<ul class="c-event-list">
  {% for events in site.events %}
  {% if events.month == month %}
  <li class="c-event-list__flag">
      <div class="c-event-list__flag--left">
        <div class="c-event-list__calendar">
          <span class="c-event-list__day">{{ events.weekday }}</span>
          <span class="f2 c-event-list__date">{{ events.date-number }}</span>
        </div>
        <img class="c-event-list__image" src="{{ p.url | prepend: site.baseurl }}{{ events.thumb }}" alt="">
      </div>
      <div class="c-event-list__flag--body">
        <div class="c-event-list__content">
          <h3 class="f2 c-event-list__title">{{ events.title }}</h3>
          <p class="u-pb-xxl">{{ events.description }}</p>
          <a class="c-button c-event-list__button" href="{{ events.link }}" target="_blank">
            <div class="c-button__flag">
              <div class="c-button__flag--body">
                Sign Up
              </div>
              <div class="c-button__flag--right">
                <svg class="c-icon--24 c-icon--reverse">
                  <use href='../images/icon-store.svg#forward-tick' xlink:href='../images/icon-store.svg#forward-tick'></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}
